<header>
    <div class="name">
        <img src="../../../../assets/globe.png" alt="">
        <h2>B-universal</h2>
    </div>

    <div class="links">
        <a *ngIf="!showButton" (click)="goToCart()"><i class="fa-solid fa-cart-shopping"></i></a>
        <a *ngIf="!showButton" (click)="goToWishlist()"><i class="fa-solid fa-heart"></i></a>
        <a *ngIf="showButton" (click)="OpencategoryForm()" style="cursor: pointer;">Add Category</a>
        <a *ngIf="showButton" (click)="orders()" style="cursor: pointer;">Orders</a>
        <a (click)="gotoprofile()"><i class="fa-solid fa-user"></i></a>
        <a href=""><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
</header>