<div class="login-container">
  <div class="logo">Dealio</div>
  <div class="descri">one-stop shop for epic deals</div>

  <div class="login_form">
    <div class="desc">
      <p>
        Looks like you are new here! <br />
        signup with mail or mobile number
      </p>
      <img src="assets/cart.png" alt="" />
    </div>

    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Enter Your Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        placeholder="abc@example.com"
        [(ngModel)]="email"
        #emailField="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailField.invalid && emailField.touched">
        <span *ngIf="emailField.errors?.['required']">Email is required</span>
        <span *ngIf="emailField.errors?.['email']">Invalid email format</span>
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        placeholder="Enter a strong password"
        [(ngModel)]="password"
        #passwordField="ngModel"
        required
        minlength="8"
      />

      <mat-error *ngIf="passwordField.invalid && passwordField.touched">
        <span *ngIf="passwordField.errors?.['required']"
          >Password is required</span
        >
        <span *ngIf="passwordField.errors?.['minlength']">
          Password must be at least 8 characters
        </span>
      </mat-error>
    </mat-form-field>

    <div class="btn-container">
      <button class="btn" id="login" (click)="login()">Login</button> <br />
      <button class="btn" id="register" (click)="register()">
        New User? Register
      </button>
    </div>
  </div>
</div>
