::ng-deep mat-form-field .mdc-text-field--filled {
  background: transparent !important;
  width: 100% !important;
}

.login-container {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: #1f2627;
  position: relative;
  display: flex;
  justify-content: center;
  .logo {
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 3px;
    position: absolute;
    top: 0.8em;
  }
  .tag-line {
    font-size: 32px;
    font-weight: 500;
    position: relative;
    margin-top: 3.2em;
    text-align: center;
    justify-content: center;
  }
  .login_form {
    position: absolute;
    width: 50rem;
    height: 31rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    .desc {
      top: 7%;
      position: absolute;
      height: 30rem;
      width: 32%;
      border-right: 2px solid black;
      p {
        position: relative;
        margin-top: 1.5em;
        font-size: 1.1rem;
        padding: 0.5em;
        line-height: 1.2em;
        color: black;
      }
      img {
        position: relative;
        margin-top: 4em;
        margin-left: 1em;
        width: 80%;
      }
    }
    form {
      margin-top: 2%;
      .form-group {
        position: relative;
        top: 5%;
        left: 37%;
        width: 60%;
        input {
          background-color: none;
        }
      }
      #passwordField,
      #emailField,
      #confirmpasswordField {
        margin-top: 0.5em;
      }
      
      .btn-container {
        position: relative;
        top: 4%;
        left: 42%;
        margin-top: 20px;

        .btn {
          width: 45%;
          color: beige;
          margin: 10px;
          height: 40px;
          border: none;
          font-size: 1rem;
          cursor: pointer;
          border-radius: 5px;
        }

        #login {
          background-color: #2874f0;
        }

        #register {
          background-color: #fb641b;
        }
      }
    }
  }
}
