<app-header></app-header>

<div class="dashboard">
    <section class="carousel" aria-label="Image Carousel">
        <div class="carousel__viewport">
            <div class="carousel__slide">
                <img src="https://cmsimages.shoppersstop.com/footwear_main_banner_web_0e2c15f3cf/footwear_main_banner_web_0e2c15f3cf.png"
                    alt="Slide 1">
            </div>
            <div class="carousel__slide">
                <img src="https://cmsimages.shoppersstop.com/Just_in_main_kv_web_74553419e1/Just_in_main_kv_web_74553419e1.gif"
                    alt="Slide 2">
            </div>
            <div class="carousel__slide">
                <img src="https://cmsimages.shoppersstop.com/sunglasses_static_web_3f35e1927c/sunglasses_static_web_3f35e1927c.png"
                    alt="Slide 3">
            </div>
            <div class="carousel__slide">
                <img src="https://cmsimages.shoppersstop.com/ELCA_Offer_Banners_SS_Mac_Web_89aeabf1c7/ELCA_Offer_Banners_SS_Mac_Web_89aeabf1c7.jpg"
                    alt="Slide 4">
            </div>
            <div class="carousel__slide">
                <img src="https://cmsimages.shoppersstop.com/coverstory_static_web_d42be16a54/coverstory_static_web_d42be16a54.png"
                    alt="Slide 5">
            </div>
            <div class="carousel__slide">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/INSLGW/90days2x._CB795748422_.jpg"
                    alt="Slide 6">
            </div>
            <div class="carousel__slide">
                <img src="https://cmsimages.shoppersstop.com/Watches_web_78177da621/Watches_web_78177da621.png"
                    alt="Slide 7">
            </div>
        </div>
    </section>

    <app-category-card *ngFor="let category of allCategories" [category]="category"></app-category-card>
</div>