.category-swimlane {
  // border: 1px solid black;
  margin: 1.5em 0em 1.5em 0em;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em 0em;
  background-color: rgb(135, 144, 151);
  // border-radius: 1.5em;
  .heading {
    height: 2.5em;
    color: rgb(36, 35, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    .category-name {
      font-size: 2em;
      font-weight: bold;
      margin: 0.3em 1em;
      p {
        margin: 0em;
      }
    }
  }
  .top-products {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 3em;
  }
}
