.body {
  overflow: hidden;
  height: 100vh;
  //   background-color: black;
  .outer {
    height: 90%;
    width: 100%;
    margin-top: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
    // padding: 0em 5em;
    justify-content: center;

    .image {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .back {
        width: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        button {
          height: 10%;
          background-color: white;
          border: none;
          font-size: 2em;
        }
      }
      .main {
        width: 85%;
        display: flex;
        justify-content: center;
        padding: 2em 0em 2em 0em;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .next {
        width: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        button {
          height: 10%;
          background-color: white;
          border: none;
          font-size: 2em;
        }
      }
    }
    .details {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .inner {
        height: 100%;
        padding: 1em;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        // name
        .name {
          margin-top: 2em;
          height: 5%;
          display: flex;
          align-items: center;
          p {
            margin: 0;
            font-size: 2em;
          }
        }
        // description
        .descri {
          height: 3%;
          p {
            color: gray;
            font-size: 1.1em;
          }
        }
        // price
        .price {
          margin-top: 1em;
          .original-price {
            text-decoration: line-through;
            color: gray;
            margin-left: 8px;
            font-size: 1.1em;
            font-weight: 200;
          }
          p {
            margin: 0;
          }

          span {
            font-size: 1.5em;
            font-weight: 600;
          }
        }
        // sizes
        .size {
          .sizing {
            display: flex;
            flex-direction: column;
            padding: 1em 0em;
            p {
              margin-bottom: 1em;
              font-size: 1.1em;
            }
            .boxes {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              .box {
                width: 25%;
                margin: 0.5em 1em;
                padding: 1em 0em;
                display: flex;
                justify-content: center;
                border: 2px solid rgb(216, 211, 211);
                border-radius: 1em;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
              }
              .box:hover {
                transform: scale(1.08);
                background-color: rgb(230, 230, 230);
                border: 1px solid black;
              }
              .box.active {
                background-color: rgb(185, 184, 184);
                // border: 1px solid black;
              }
            }
          }
        }
        // actions
        .actions {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          button {
            margin: 0.5em;
            width: 50%;
            height: 3.8em;
            border-radius: 2em;
            border: none;
            transition: transform 0.3s ease-in-out;
            background-color: rgb(230, 230, 230);
            cursor: pointer;
          }
          button:hover {
            transform: scale(1.03);
          }
          #cart {
            background-color: black;
            color: white;
          }
        }

        .accordion {
          margin-top: 1em;
          .accordion-item {
            border-bottom: 1px solid #838282;
            .accordion-header {
              padding: 1.2em;
              display: flex;
              justify-content: space-between;
              cursor: pointer;
            }
            .accordion-header:hover {
              background-color: #eee;
              border-radius: 1em 1em 0em 0em;
            }
            .accordion-body {
              padding: 15px;
              background-color: #fff;
              transition: all 0.5s ease-in-out;
            }

            .arrow {
              transition: transform 0.5s ease;
              display: inline-block;
            }

            .arrow.open {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
