.outer {
  background: #323636;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .category_heading {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    height: 1em;
    font-weight: 600;
    color: white;
  }
  .actions {
    width: 95%;
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
    display: flex;
    margin-left: 1em;
    width: 96%;
  }
  .all_product {
    margin: 0em 2em;
    width: 94%;
    padding: 1em 0em 0em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}
